@import "./icon.css";
@import "./logo.css";
@import "./card.css";
@import "./button.css";
@import "./score.css";
@import "./playcard.css";
@import "./icon-label.css";
@import "./header.css";
@import "./modal.css";
@import "./loading.css";
@import "./board.css";


:root {
    --white: #ffffff; 
    --black-1: #202020; 
    --primary: #289144;
    --green: #A7DC50; 
    --grey: #929292; 
    --blue: #00afc7; 
    --yellow: #f4ed1f; 
    --headline1: 700 2.5rem/normal Roboto Condensed; 
    --subtitle1: 700 1.625rem/1.5rem Roboto Condensed; 
    --button: 700 0.875rem/1rem Roboto; 
    --headline2: 700 1.5rem/normal Roboto; 
    --body1-regular: 400 0.875rem/1.5rem Roboto; 
    --body1-bold: 700 0.875rem/1rem Roboto; 
}

body {
    margin: 0;
    background:url(../img/alnilam_Stars_Pattern.svg);
}

#app {
    margin: 0;
    display: grid;
    align-content: center;
    justify-content: center;
    inline-size: 100%;
    block-size: auto;
}